@using Umbraco.Cms.Core.Models.PublishedContent;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

@{
    var formName = Model?.Content.Value<string>("formName") ?? "";
}

@if (!string.IsNullOrEmpty(formName))
{
    if(TempData["Success"] == null)
    {
        if (TempData["ContactErrorMessage"] != null)
        {
            <span class="dangerText">@TempData["ContactErrorMessage"]</span>
        }

        @using (Html.BeginUmbracoForm("HandleSubmit", "ContactSurface", FormMethod.Post, new { novalidate = "novalidate" }))
        {
            <div id="myForm" name="myForm" class="formContainer">
                <input hidden value="@formName" id="@formName" name="FormName" type="@formName" />
                @await Html.GetBlockGridItemAreasHtmlAsync(Model!)
            </div>
        }
    }
    else
    {
        if (TempData["ContactErrorMessage"] != null)
        {
            <span class="dangerText">@TempData["ContactErrorMessage"]</span>
        }

        <div style="color: var(--color-success); padding-block: 1rem; text-align: center;" class="success">@TempData["Success"]</div>
        <div id="myForm">
        @using (Html.BeginUmbracoForm("HandleSubmit", "ContactSurface", FormMethod.Post))
        {
            @await Html.GetBlockGridItemAreasHtmlAsync(Model!)
        }
        </div>
    }
}