@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@{
    var uniqueName = Model?.Content.Value<string>("uniqueName") ?? null;
    var labelText = Model?.Content.Value<string>("labelText") ?? "";
    bool isRequired = (Model!.Content.Value<bool>("isRequired")) ? true : false;
    var inputPlaceholderText = Model?.Content.Value<string>("placeholderText") ?? null;
    var inputWarningText = Model?.Content.Value<string>("errorText") ?? null;
}
@if(!string.IsNullOrEmpty(uniqueName))
{
    <div id="@uniqueName" class="formInputGroup">
        @if(!string.IsNullOrEmpty(labelText))
        {
            <label for="@uniqueName">@labelText</label>
        }
        <input class="formInput" placeholder="@inputPlaceholderText" id="@uniqueName" name="@uniqueName" type="password" required="@isRequired" />
        @if(isRequired)
        {
            <span class="dangerText">@inputWarningText</span>
        }     
    </div>
}