@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing

@{
    var topHeader = Umbraco.ContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "companyInformation") ?? null;
    var collaborationList = topHeader?.Value<IEnumerable<Umbraco.Cms.Core.Models.Blocks.BlockListItem>>("partners") ?? null;
}

@if(collaborationList != null)
{
        <div class="container addSpaceToTop addSpaceToBottom">
            <div class="itemsContainerCoups">
                        @foreach(var collab in collaborationList)
                        {
                            var picture = collab.Content.Value<IPublishedContent>("picture")?.Url(); 
                            var piuctureDescription = collab.Content.Value<string>("pictureDescription") ?? null;
                            var pictureUrl = collab.Content.Value<string>("pictureUrl") ?? null;
                            var urlIsExternal = collab.Content.Value<bool>("urlIsExternal");

                            if(!string.IsNullOrEmpty(pictureUrl))
                            {
                                if(urlIsExternal == true)
                                {
                                    <a href="@pictureUrl" target="_blank"><img class="coupImage" src="@picture" alt="@piuctureDescription"></a>
                                }
                                else
                                {
                                    <a href="@pictureUrl"><img class="coupImage" src="@picture" alt="@piuctureDescription"></a>
                                }
                            }
                            else
                            {
                                <img class="coupImage" src="@picture" />
                            }
                        }
            </div> 
        </div>
}